.tetris-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
  background-color: #111;
  color: #fff;
  padding: 15px; /* global padding */
  box-sizing: border-box; 
}


.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(20, 30px);
  background-color: #111111;
  border: 2px solid #555;
  margin-right: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  height: 600px;
  position: relative;
}

.sidebar-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  height: 600px;
  position: relative;
  margin-right: 40px;
}


.back-button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.cell {
  width: 30px;
  height: 30px;
  box-shadow: inset 0 0 0 .5px #313131;
}

.cell.filled {
  --base: #ffffff;
  --light: color-mix(in srgb, var(--base), white 40%);
  --dark: color-mix(in srgb, var(--base), black 40%);

  background: linear-gradient(
    to bottom,
    var(--light) 15%,
    var(--base) 40%,
    var(--dark) 80%
  );

  border: .5px solid #111;

  box-shadow:
    inset 0 0 0 2px var(--light),
    inset -2px -2px 4px rgba(33, 33, 33, 0.6),
    inset 2px 2px 4px var(--dark);
}

.cell.ghost {
  opacity: 0.20;

  --base: #ffffff;
  --light: color-mix(in srgb, var(--base), white 40%);
  --dark: color-mix(in srgb, var(--base), black 40%);

  background: linear-gradient(
    to bottom,
    var(--light) 15%,
    var(--base) 40%,
    var(--dark) 80%
  );

  border: .5px solid #111;

  box-shadow:
    inset 0 0 0 2px var(--light),
    inset -2px -2px 4px rgba(33, 33, 33, 0.6),
    inset 2px 2px 4px var(--dark);
}

.next-pieces {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.next-box {
  width: 75px;   /* 5 × 15px */
  height: 75px;
  border: 2px solid #555;
  display: grid;
  grid-template-columns: repeat(5, 15px);
  grid-template-rows: repeat(5, 15px);
  margin-bottom: 12px;
  justify-content: center;
  align-items: center;
}

.next-box .cell {
  width: 15px;
  height: 15px;
  box-shadow: inset 0 0 0 .5px #313131;
}

